[Unit]
Description=ReVoiceChat Core Server

[Service]
Type=simple
User=administrateur
Group=administrateur

WorkingDirectory=/srv/rvc/revoicechat/core-server
ExecStart=/usr/bin/java -Xmx4G -Xms2G -Dquarkus.config.locations=server.properties -jar /srv/rvc/revoicechat/core-server/app/target/quarkus-app/quarkus-run.jar

[Install]
WantedBy=multi-user.target
